.theme-form {
  .input {
    position: relative;
    width: 100%;
    &.static {
      .label {
        transform: translate(.25rem, -65%) scale(.7);
        font-weight: bold;
      }
      .field {
        padding: .5rem .5rem;
        div[class$="-control"]{
          box-shadow: none !important;
          border: 0 !important;
          outline: 0 !important;
        }
      }
    }
    .label {
      position: absolute;
      left: 0;
      top: 0;
      padding: calc(.5rem * 0.75) calc(.5rem * .5);
      margin: calc(.5rem * 0.75 + 3px) calc(.5rem * .5);
      white-space: nowrap;
      transform: translate(0, 0);
      transform-origin: 0 0;
      background: white;
      transition: transform 120ms ease-in;
      font-weight: normal;
      line-height: 1.2;
      color: #0000007a;
    }
    .field {
      box-sizing: border-box;
      display: block;
      width: 100%;
      border: 1px solid #00000059;
      padding: calc(.5rem * 1.5) .5rem;
      color: black;
      background: transparent;
      border-radius: 4px;
      &.textarea {
        min-height: 100px;
      }
      &:focus,
      &:not(:placeholder-shown) {
        & + .label {
          transform: translate(.25rem, -65%) scale(.7);
          font-weight: bold;
        }
      }
      &:focus {
        border-color: black;
        border-width: 2px;
      }
      &:hover {
        border-color: black;
      }
    }
  }
}