.theme-tabs {
  min-height: 550px;
  .nav-tabs {
    .nav-link {
      color: #787878;
      &:not(.active) {
        &:hover,
        &:focus {
          color: black;
        }
      }
      &.active {
        color: black;
      }
    }
  }
  .tab-content {
    .fade {
      transition: none;
    }
  }
}