.page-gallery img {
  width: 100%;
}
.page-gallery .gallery-item {
  position: relative;
  padding: 0;
  border: 10px solid white;
  border-radius: 20px !important;
  overflow: hidden;
}
.page-gallery .gallery-item .item-info {
  display: none;
}
.page-gallery .gallery-item .item-info .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  transition: background 0.3s ease;
}
.page-gallery .gallery-item .item-info .title {
  position: absolute;
  width: 100%;
  left: 0;
  top: 30px;
  font-weight: 700;
  font-size: 15px;
  text-align: center;
  color: white;
  z-index: 1;
}
.page-gallery .gallery-item .item-info .buttons {
  position: absolute;
  width: 100%;
  left: 0;
  top: 145px;
  text-align: center;
}
.page-gallery .gallery-item .item-info:hover .overlay {
  display: block;
  background: rgba(0, 0, 0, 0.9);
}
.page-gallery .gallery-item:hover .item-info {
  display: block;
}
.page-gallery .gallery-item .item-selected {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
  border-bottom-right-radius: 25px;
  color: white;
  font-size: 25px;
  box-shadow: 3px 3px 20px 10px #0000006b;
  z-index: 9;
}
.page-gallery .upload-container {
  padding: 10px;
}
.page-gallery .upload-container .border-container {
  border: 5px dashed rgba(198, 198, 198, 0.65);
  border-radius: 4px;
  padding: 20px;
}
.page-gallery .upload-container .border-container .icons {
  font-size: 80px;
  color: #c5c4c4;
}
.page-gallery .upload-container .border-container .icons i:nth-child(1):before {
  transform: rotate(325deg);
}
.page-gallery .upload-container .border-container .icons i:nth-child(3):before {
  transform: rotate(35deg);
}
.page-gallery .upload-container .border-container p {
  color: #00000087;
  font-weight: 600;
  font-size: 1.1em;
  margin-top: 30px;
}
