.theme-input {
  &.delete {
    display: inline-block;
    margin-left: 5px;
    padding: 0;
    width: 20px;
    background-color: rgb(84 84 84 / 41%);
    color: white;
    font-size: 10px;
    font-weight: bold;
    cursor: pointer;
    border: none;
    outline: none;
    -webkit-user-select: none;
    user-select: none;
    &:after{
      content: 'X';
      width: 15px;
      height: 15px;
      line-height: 15px;
      text-align: center;
    }
  }
}